@theme {
  /* Primitive/Black, Primitive/White */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Primitive/neutral */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  /* Primitive/Orange */
  --color-orange-50: #fff8f3;
  --color-orange-100: #ffd4b7;
  --color-orange-200: #ffc095;
  --color-orange-300: #ffa364;
  --color-orange-400: #ff9146;
  --color-orange-500: #ff7518;
  --color-orange-600: #e86a16;
  --color-orange-700: #b55311;
  --color-orange-800: #8c400d;
  --color-orange-900: #6b310a;
  --color-orange-950: #301605;

  /* Primitive/Blue */
  --color-blue-50: #e8eeff;
  --color-blue-100: #dce6ff;
  --color-blue-200: #b7ccff;
  --color-blue-300: #1859ff;
  --color-blue-400: #1650e6;
  --color-blue-500: #1347cc;
  --color-blue-600: #1243bf;
  --color-blue-700: #0e3599;
  --color-blue-800: #0b2873;
  --color-blue-900: #081f59;
  --color-blue-950: #051233;

  /* Primitive/Green */
  --color-green-50: #e9fae6;
  --color-green-100: #def7d9;
  --color-green-200: #baeeb0;
  --color-green-300: #22c900;
  --color-green-400: #1fb500;
  --color-green-500: #1ba100;
  --color-green-600: #1a9700;
  --color-green-700: #147900;
  --color-green-800: #0f5a00;
  --color-green-900: #0c4600;
  --color-green-950: #072800;

  /* Primitive/Red */
  --color-red-50: #ffe8e8;
  --color-red-100: #ffdcdc;
  --color-red-200: #ffb7b7;
  --color-red-300: #ff1818;
  --color-red-400: #e61616;
  --color-red-500: #cc1313;
  --color-red-600: #bf1212;
  --color-red-700: #990e0e;
  --color-red-800: #730b0b;
  --color-red-900: #590808;
  --color-red-950: #330505;

  /* Primitive/Yellow */
  --color-yellow-50: #fffce8;
  --color-yellow-100: #fffadc;
  --color-yellow-200: #fff5b7;
  --color-yellow-300: #ffe018;
  --color-yellow-400: #e6ca16;
  --color-yellow-500: #ccb313;
  --color-yellow-600: #bfa812;
  --color-yellow-700: #99860e;
  --color-yellow-800: #73650b;
  --color-yellow-900: #594e08;
  --color-yellow-950: #332d05;
}
