@theme {
  --font-sans: 'Pretendard', system-ui, sans-serif;

  --text-title1: 1.75rem;
  --text-title1--line-height: 2.375rem;
  --text-title1--letter-spacing: 0.014375rem;

  --text-title2: 1.5rem;
  --text-title2--line-height: 2rem;
  --text-title2--letter-spacing: -0.014375rem;

  --text-title3: 1.25rem;
  --text-title3--line-height: 1.75rem;
  --text-title3--letter-spacing: -0.0075rem;

  --text-heading1: 1.125rem;
  --text-heading1--line-height: 1.625rem;
  --text-heading1--letter-spacing: -0.005625rem;

  --text-body1-normal: 1rem;
  --text-body1-normal--line-height: 1.5rem;
  --text-body1-normal--letter-spacing: 0.0035625rem;
  --text-body1-reading: 1rem;
  --text-body1-reading--line-height: 1.625rem;
  --text-body1-reading--letter-spacing: 0.0035625rem;

  --text-body2-normal: 0.9375rem;
  --text-body2-normal--line-height: 1.375rem;
  --text-body2-normal--letter-spacing: 0.00625rem;
  --text-body2-reading: 0.9375rem;
  --text-body2-reading--line-height: 1.5rem;
  --text-body2-reading--letter-spacing: 0.00625rem;

  --text-body3-normal: 0.875rem;
  --text-body3-normal--line-height: 1.25rem;
  --text-body3-normal--letter-spacing: 0.0090625rem;
  --text-body3-reading: 0.875rem;
  --text-body3-reading--line-height: 1.375rem;
  --text-body3-reading--letter-spacing: 0.0090625rem;

  --text-label1-normal: 0.8125rem;
  --text-label1-normal--line-height: 1.125rem;
  --text-label1-normal--letter-spacing: 0.01575rem;
  --text-label1-reading: 0.8125rem;
  --text-label1-reading--line-height: 1.25rem;
  --text-label1-reading--letter-spacing: 0.01575rem;

  --text-label2-normal: 0.75rem;
  --text-label2-normal--line-height: 1rem;
  --text-label2-normal--letter-spacing: 0.01575rem;
  --text-label2-reading: 0.75rem;
  --text-label2-reading--line-height: 1.125rem;
  --text-label2-reading--letter-spacing: 0.01575rem;

  --text-caption: 0.6875rem;
  --text-caption--line-height: 0.875rem;
  --text-caption--letter-spacing: 0.0194375rem;
}

@utility text-title1-regular {
  @apply text-title1 font-normal;
}
@utility text-title1-medium {
  @apply text-title1 font-medium;
}
@utility text-title1-semibold {
  @apply text-title1 font-semibold;
}
@utility text-title1-bold {
  @apply text-title1 font-bold;
}

@utility text-title2-regular {
  @apply text-title2 font-normal;
}
@utility text-title2-medium {
  @apply text-title2 font-medium;
}
@utility text-title2-semibold {
  @apply text-title2 font-semibold;
}
@utility text-title2-bold {
  @apply text-title2 font-bold;
}

@utility text-title3-regular {
  @apply text-title3 font-normal;
}
@utility text-title3-medium {
  @apply text-title3 font-medium;
}
@utility text-title3-semibold {
  @apply text-title3 font-semibold;
}
@utility text-title3-bold {
  @apply text-title3 font-bold;
}

@utility text-heading1-regular {
  @apply text-heading1 font-normal;
}
@utility text-heading1-medium {
  @apply text-heading1 font-medium;
}
@utility text-heading1-semibold {
  @apply text-heading1 font-semibold;
}
@utility text-heading1-bold {
  @apply text-heading1 font-bold;
}

@utility text-body1-normal-regular {
  @apply text-body1-normal font-normal;
}
@utility text-body1-normal-medium {
  @apply text-body1-normal font-medium;
}
@utility text-body1-normal-semibold {
  @apply text-body1-normal font-semibold;
}
@utility text-body1-normal-bold {
  @apply text-body1-normal font-bold;
}

@utility text-body1-reading-regular {
  @apply text-body1-reading font-normal;
}
@utility text-body1-reading-medium {
  @apply text-body1-reading font-medium;
}
@utility text-body1-reading-semibold {
  @apply text-body1-reading font-semibold;
}
@utility text-body1-reading-bold {
  @apply text-body1-reading font-bold;
}

@utility text-body2-normal-regular {
  @apply text-body2-normal font-normal;
}
@utility text-body2-normal-medium {
  @apply text-body2-normal font-medium;
}
@utility text-body2-normal-semibold {
  @apply text-body2-normal font-semibold;
}
@utility text-body2-normal-bold {
  @apply text-body2-normal font-bold;
}

@utility text-body2-reading-regular {
  @apply text-body2-reading font-normal;
}
@utility text-body2-reading-medium {
  @apply text-body2-reading font-medium;
}
@utility text-body2-reading-semibold {
  @apply text-body2-reading font-semibold;
}
@utility text-body2-reading-bold {
  @apply text-body2-reading font-bold;
}

@utility text-body3-normal-regular {
  @apply text-body3-normal font-normal;
}
@utility text-body3-normal-medium {
  @apply text-body3-normal font-medium;
}
@utility text-body3-normal-semibold {
  @apply text-body3-normal font-semibold;
}
@utility text-body3-normal-bold {
  @apply text-body3-normal font-bold;
}

@utility text-body3-reading-regular {
  @apply text-body3-reading font-normal;
}
@utility text-body3-reading-medium {
  @apply text-body3-reading font-medium;
}
@utility text-body3-reading-semibold {
  @apply text-body3-reading font-semibold;
}
@utility text-body3-reading-bold {
  @apply text-body3-reading font-bold;
}

@utility text-label1-normal-regular {
  @apply text-label1-normal font-normal;
}
@utility text-label1-normal-medium {
  @apply text-label1-normal font-medium;
}
@utility text-label1-normal-semibold {
  @apply text-label1-normal font-semibold;
}
@utility text-label1-normal-bold {
  @apply text-label1-normal font-bold;
}

@utility text-label1-reading-regular {
  @apply text-label1-reading font-normal;
}
@utility text-label1-reading-medium {
  @apply text-label1-reading font-medium;
}
@utility text-label1-reading-semibold {
  @apply text-label1-reading font-semibold;
}
@utility text-label1-reading-bold {
  @apply text-label1-reading font-bold;
}

@utility text-label2-normal-regular {
  @apply text-label2-normal font-normal;
}
@utility text-label2-normal-medium {
  @apply text-label2-normal font-medium;
}
@utility text-label2-normal-semibold {
  @apply text-label2-normal font-semibold;
}
@utility text-label2-normal-bold {
  @apply text-label2-normal font-bold;
}

@utility text-label2-reading-regular {
  @apply text-label2-reading font-normal;
}
@utility text-label2-reading-medium {
  @apply text-label2-reading font-medium;
}
@utility text-label2-reading-semibold {
  @apply text-label2-reading font-semibold;
}
@utility text-label2-reading-bold {
  @apply text-label2-reading font-bold;
}

@utility text-caption-regular {
  @apply text-caption font-normal;
}
@utility text-caption-medium {
  @apply text-caption font-medium;
}
@utility text-caption-semibold {
  @apply text-caption font-semibold;
}
@utility text-caption-bold {
  @apply text-caption font-bold;
}

@layer utilities {
  :is(.text-title1-regular, .text-title1-medium, .text-title1-semibold, .text-title1-bold) {
    font-size: var(--text-title1);
    line-height: var(--text-title1--line-height);
    letter-spacing: var(--text-title1--letter-spacing);
  }

  :is(.text-title2-regular, .text-title2-medium, .text-title2-semibold, .text-title2-bold) {
    font-size: var(--text-title2);
    line-height: var(--text-title2--line-height);
    letter-spacing: var(--text-title2--letter-spacing);
  }

  :is(.text-title3-regular, .text-title3-medium, .text-title3-semibold, .text-title3-bold) {
    font-size: var(--text-title3);
    line-height: var(--text-title3--line-height);
    letter-spacing: var(--text-title3--letter-spacing);
  }

  :is(.text-heading1-regular, .text-heading1-medium, .text-heading1-semibold, .text-heading1-bold) {
    font-size: var(--text-heading1);
    line-height: var(--text-heading1--line-height);
    letter-spacing: var(--text-heading1--letter-spacing);
  }

  :is(
    .text-body1-normal-regular,
    .text-body1-normal-medium,
    .text-body1-normal-semibold,
    .text-body1-normal-bold
  ) {
    font-size: var(--text-body1-normal);
    line-height: var(--text-body1-normal--line-height);
    letter-spacing: var(--text-body1-normal--letter-spacing);
  }

  :is(
    .text-body1-reading-regular,
    .text-body1-reading-medium,
    .text-body1-reading-semibold,
    .text-body1-reading-bold
  ) {
    font-size: var(--text-body1-reading);
    line-height: var(--text-body1-reading--line-height);
    letter-spacing: var(--text-body1-reading--letter-spacing);
  }

  :is(
    .text-body2-normal-regular,
    .text-body2-normal-medium,
    .text-body2-normal-semibold,
    .text-body2-normal-bold
  ) {
    font-size: var(--text-body2-normal);
    line-height: var(--text-body2-normal--line-height);
    letter-spacing: var(--text-body2-normal--letter-spacing);
  }

  :is(
    .text-body2-reading-regular,
    .text-body2-reading-medium,
    .text-body2-reading-semibold,
    .text-body2-reading-bold
  ) {
    font-size: var(--text-body2-reading);
    line-height: var(--text-body2-reading--line-height);
    letter-spacing: var(--text-body2-reading--letter-spacing);
  }

  :is(
    .text-body3-normal-regular,
    .text-body3-normal-medium,
    .text-body3-normal-semibold,
    .text-body3-normal-bold
  ) {
    font-size: var(--text-body3-normal);
    line-height: var(--text-body3-normal--line-height);
    letter-spacing: var(--text-body3-normal--letter-spacing);
  }

  :is(
    .text-body3-reading-regular,
    .text-body3-reading-medium,
    .text-body3-reading-semibold,
    .text-body3-reading-bold
  ) {
    font-size: var(--text-body3-reading);
    line-height: var(--text-body3-reading--line-height);
    letter-spacing: var(--text-body3-reading--letter-spacing);
  }

  :is(
    .text-label1-normal-regular,
    .text-label1-normal-medium,
    .text-label1-normal-semibold,
    .text-label1-normal-bold
  ) {
    font-size: var(--text-label1-normal);
    line-height: var(--text-label1-normal--line-height);
    letter-spacing: var(--text-label1-normal--letter-spacing);
  }

  :is(
    .text-label1-reading-regular,
    .text-label1-reading-medium,
    .text-label1-reading-semibold,
    .text-label1-reading-bold
  ) {
    font-size: var(--text-label1-reading);
    line-height: var(--text-label1-reading--line-height);
    letter-spacing: var(--text-label1-reading--letter-spacing);
  }

  :is(
    .text-label2-normal-regular,
    .text-label2-normal-medium,
    .text-label2-normal-semibold,
    .text-label2-normal-bold
  ) {
    font-size: var(--text-label2-normal);
    line-height: var(--text-label2-normal--line-height);
    letter-spacing: var(--text-label2-normal--letter-spacing);
  }

  :is(
    .text-label2-reading-regular,
    .text-label2-reading-medium,
    .text-label2-reading-semibold,
    .text-label2-reading-bold
  ) {
    font-size: var(--text-label2-reading);
    line-height: var(--text-label2-reading--line-height);
    letter-spacing: var(--text-label2-reading--letter-spacing);
  }

  :is(.text-caption-regular, .text-caption-medium, .text-caption-semibold, .text-caption-bold) {
    font-size: var(--text-caption);
    line-height: var(--text-caption--line-height);
    letter-spacing: var(--text-caption--letter-spacing);
  }
}
